<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a2422b7a-239e-4b10-9f6a-d491ba8eade5/resourcegroups/CAPSTONE3AR/providers/Microsoft.Web/sites/CAPSTONE3AR</ResourceId>
    <ResourceGroup>CAPSTONE3AR</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://capstone3ar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>capstone3ar.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CAPSTONE3AR</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CAPSTONE3AR</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RegistrationAppDatabase" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:capstone3ardbserver.database.windows.net,1433;Initial Catalog=CAPSTONE3AR_db;Persist Security Info=False;User ID=srerar47;Password=Balrok34;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:capstone3ardbserver.database.windows.net,1433;Initial Catalog=CAPSTONE3AR_db;Persist Security Info=False;User ID=srerar47;Password=Balrok34;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CAPSTONE_3.Models.RegistrationAppContext, CAPSTONE_3" MigrationConfiguration="CAPSTONE_3.Migrations.Configuration, CAPSTONE_3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RegistrationAppDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:capstone3ardbserver.database.windows.net,1433;Initial Catalog=CAPSTONE3AR_db;Persist Security Info=False;User ID=srerar47;Password=Balrok34;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>