@model CAPSTONE_3.Models.MainModel
@using MVCGrid.Web;
@using MVCGrid.Web.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
            {
                MVCGridName = "RegGrid",
                PageSize = true,
                ColumnVisibility = false,
                Export = false,
                GlobalSearch = true
            })
            @Html.MVCGrid("RegGrid")
        </div>
    </div>
</div>

<div class="row">
    @Html.MVCGrid("CoGrid")
</div>